* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    overflow: hidden;
}

#vueapp {
    height:100%;
    width: 100%;
}

#main-contents{
    overflow: hidden;
    display: block;
    width: 100%;
    height: calc(100% - 22px - 1.5em);
}

#main-contents .content{
    height: 100%;
    display: inline-block;
}

#main-contents #view-area {
    border: 2px ridge;
    width: 70%;
    height: calc(100% - 4px);
}

#gl_canvas {
    width: 100%;
    display: block;
}

#fotter-contents{
    display: block;
    height: 20px;
    width: 100%;
}
