* {
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    overflow: hidden;
}

#vueapp {
    height:100%;
    width: 100%;
}

#main-contents{
    overflow: hidden;
    display: block;
    width: 100%;
    height: calc(100% - 40px);
}

#main-contents > .content{
    height: 100%;
}

#view-area {
    float: left;
    border: 2px ridge;
    width: 70%;
    height: 100%;
}

#gl_canvas {
    width: 100%;
    display: block;
}

#main-contents > #control-area{
    height: calc(100% - 6px);
    float: right;
    overflow: scroll;
    width: 28%;
    border: 2px solid black;
}

#fotter-contents{
    height: 20px;
}
